<p id="notice"><%= notice %></p>

<h1>Listing Observations</h1>

<table>
  <thead>
    <tr>
      <th>Temp</th>
      <th>Dew point</th>
      <th>Rain</th>
      <th>Wind speed</th>
      <th>Wind direction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @observations.each do |observation| %>
      <tr>
        <td><%= observation.temp %></td>
        <td><%= observation.dew_point %></td>
        <td><%= observation.rain %></td>
        <td><%= observation.wind_speed %></td>
        <td><%= observation.wind_direction %></td>
        <td><%= link_to 'Show', observation %></td>
        <td><%= link_to 'Edit', edit_observation_path(observation) %></td>
        <td><%= link_to 'Destroy', observation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Observation', new_observation_path %>
