<p id="notice"><%= notice %></p>

<p>
  <strong>Temp:</strong>
  <%= @observation.temp %>
</p>

<p>
  <strong>Dew point:</strong>
  <%= @observation.dew_point %>
</p>

<p>
  <strong>Rain:</strong>
  <%= @observation.rain %>
</p>

<p>
  <strong>Wind speed:</strong>
  <%= @observation.wind_speed %>
</p>

<p>
  <strong>Wind direction:</strong>
  <%= @observation.wind_direction %>
</p>

<%= link_to 'Edit', edit_observation_path(@observation) %> |
<%= link_to 'Back', observations_path %>
